{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}

<div{{ attributes }}>
   <div class="owl-carousel init-carousel-owl" data-items='1' data-navigation="1" data-auto_play_timeout="3000" data-auto_play_speed="3000">
     {%- for item in items -%}
         <div class="item"> {{ item.content }}</div>
     {%- endfor -%}
   </div>
</div>

