<div class="item">
   <article class="testimonial-item">      
      <div class="testimonial-content">
         <div class="content">
            <div class="avatar"> {{ fields.field_testimonial_avatar.content }}</div> 
            <div class="quote">{{ fields.body.content|striptags|trim }}</div>  
            <div class="info">
               <div class="title">{{ fields.field_testimonial_name.content }}</div>  
               <div class="job">{{ fields.field_testimonial_job.content }}</div>
            </div>   
         </div>
      </div>
   </article>
</div>