<header id="header" class="header-v4">
  
  {% if page.topbar %}
    <div class="topbar">
      <div class="topbar-inner">
        <div class="container">
          <div class="content">{{ page.topbar }}</div> 
        </div>
      </div>
    </div>
  {% endif %}

  {% set class_sticky = '' %}
  {% if sticky_menu == 1 %}
    {% set class_sticky = 'gv-sticky-menu' %}
  {% endif %}  

  <div class="header-main">
    <div class="container">
      <div class="header-inner clearfix">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-12 branding">
            {% if page.branding %}
              {{ page.branding }}
            {% endif %}
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            {% if page.header_right %}
              {{ page.header_right }}
            {% endif %}
          </div>
        </div>  
      </div>
    </div>  
  </div>

  <div class="main-menu {{ class_sticky }}">
    <div class="container header-content-layout">
      <div class="header-main-inner p-relative">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 p-static">
            <div class="area-main-menu">
              <div class="area-inner">
                <div class="gva-offcanvas-mobile">
                  <div class="close-offcanvas hidden"><i class="gv-icon-8"></i></div>
                  {% if page.main_menu %}
                    {{ page.main_menu }}
                  
                  {% endif %}  
                  {% if page.offcanvas %}
                    <div class="after-offcanvas hidden">
                      {{ page.offcanvas }}
                    </div>
                 {% endif %}
                </div>
                  
                <div id="menu-bar" class="menu-bar hidden-lg hidden-md">
                  <span class="one"></span>
                  <span class="two"></span>
                  <span class="three"></span>
                </div>
                
                {% if page.search %}
                  <div class="gva-search-region search-region">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <div class="search-content">  
                      {{ page.search }}
                    </div>  
                  </div>
                {% endif %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</header>
