/****/
.container {
  max-width: 100%;
}
.container .container {
  width: 100% !important;
}

ul {
  padding-left: 10px;
}
ul li {
  list-style: inherit;
}

.nav-tabs, .block-builder-main ul, .topbar ul, ul.contact-info, ul.menu {
  list-style: none !important;
  padding-left: 0;
}

.node--view-mode-full p {
  margin-bottom: 10px;
}

body div.body-page {
  background-color: #fff;
}

.sidebar nav.block {
  display: table;
}
.sidebar nav.block ul.gva_menu > li {
  width: 100%;
}
.sidebar nav.block ul.gva_menu > li > a {
  padding: 10px 0 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
}
.sidebar nav.block ul.gva_menu .sub-menu {
  border-top: none;
  box-shadow: none;
  display: block !important;
  opacity: 1 !important;
  position: static;
  visibility: visible !important;
}
.sidebar nav.block ul.gva_menu .sub-menu a {
  padding-right: 0 !important;
  font-size: 11px;
  color: #696969;
  padding-left: 20px;
}

.site-branding-logo {
  max-height: inherit;
}
.site-branding-logo img {
  max-height: 80px;
  width: auto;
}

#user-register-form {
  padding: 20px 0;
}
#user-register-form .form-wrapper {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#user-register-form .form-wrapper#edit-actions {
  border-bottom: none;
}
#user-register-form label {
  width: 100%;
}
#user-register-form .form-item {
  margin-bottom: 15px;
}

input[type*='submit'] {
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #4385F5;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 15px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: relative;
  display: inline-block;
  -webkit-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s;
  -moz-transition: all 0.35s;
  -ms-transition: all 0.35s;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
input[type*='submit']:hover {
  background: #fff;
  color: #000;
  border-color: #4385F5;
  -webkit-box-shadow: 0 3px 8px #4385F5;
  box-shadow: 0 3px 8px #4385F5;
}

body.path-user .help {
  max-width: 800px;
  margin: 0 auto;
}
body.path-user .help .container {
  width: 100%;
  padding: 0;
}
body.path-user #page-main-content > .main-content-inner {
  max-width: 800px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin-bottom: 50px;
  margin-top: 30px;
}
body.path-user summary {
  font-weight: 700;
  text-transform: uppercase;
  color: #4385F5;
}

.item-list ul {
  padding: 0;
  margin: 0 !important;
}
.item-list ul li.view-list-item {
  list-style-type: none !important;
}

header .area-main-menu .gva-search-region .search-content #edit-submit {
  top: 18px;
  right: 20px;
}

.gva-drupal-message-status {
  background: #fff;
  padding: 0 15px;
  position: fixed;
  bottom: 0;
  max-width: 1170px;
  max-height: 50%;
  margin: 0 auto;
  z-index: 999;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  -webkit-box-shadow: 1px -3px 7px rgba(0, 0, 0, 0.1);
  box-shadow: 1px -3px 7px rgba(0, 0, 0, 0.1);
}

.contact-message-feedback-form {
  padding-bottom: 45px;
  margin-bottom: 60px;
}
