@import "vars/_theme_variables";
@import "mixins/mixins";
@import "mixins/template";
.gavias_sliderlayer{
   background: #f5f5f5!important;
}
.layer-style-image{
  display: inline-block;
  text-align: center;
  img{
    max-width: 100%!important;
    height: auto!important;
  } 
}
.gavias_sliderlayer, #gavias_slider_single{
  .tp-bullets{
    -webkit-opacity: 1!important;
    -ms-opacity: 1!important;
    -o-opacity: 1!important;
    opacity: 1!important;
    visibility: visible!important;
    margin-left: -40px;
    .tp-bullet{
      @include size(20px, 5px); 
      background: rgba(255, 255, 255, 0.4);
      &.selected{
        background: $white;
      }
    }
  }
  .tparrows{
    @include size(50px, 50px);
    background: $white!important;
    line-height: 50px;
    color: $black;
    font-size: 18px;
    @include box-shadow(0px 2px 3px 0px rgba(0, 0, 0, 0.05));
    @media(max-width: $screen-sm-max){
      @include size(35px, 35px);
      line-height: 35px;
    }
    &:before{
      color: $black!important;
      line-height: 50px!important;
      @media(max-width: $screen-sm-max){
        line-height: 35px!important;
      }
    }
  }
  .tp-caption{
    z-index: 99;
    line-height: 28px;
    font-size: 16px;
  }
  .sub-title{
    font-family: $font-second;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
    color: $white;
    &:after{
      content: "";
      @include size(5px, 100%);
      background: $theme-color;
      position: absolute;
      top: -2px;
      left: 0;
      z-index: 99;
    }
  }
   
  .text-large{
    color: $black;
    font-size: 60px;
    line-height: 68px;
    letter-spacing: 2px;
    font-weight: 900;
    font-family: $font-second;
    text-transform: uppercase;
  }

  .text-large-2{
    color: $black;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 1px;
    font-weight: 900;
    letter-spacing: 0;
    font-family: $font-second;
    text-transform: uppercase;
  } 

  .text-medium{
    color: rgba(0, 0, 0, 0.6); 
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 2px;
    font-family: $font-second;
    font-weight: 700;
    text-transform: uppercase;
  }

  .small-text{
    color: rgba(255, 255, 255, 0.8); 
    font-size: 16px;
    color: $white;
    line-height: 18px;
  }

  .text-normal{
    @media(max-width: $screen-xs-max){
      font-size: 14px;
    }
  }

  .text-black{
    color: $black!important;
  }

  .text-theme{
    color: $theme-color!important;
  }

  .text-white{
    color: $white!important;
  }

  .text-center{
    text-align: center;
  }

  .text-left{
    text-align: left;
  }

  .btn-slide{
    border: 2px solid $theme-color;
    background: $theme-color;
    font-size: 12px;
    text-transform: uppercase;
    backface-visibility: hidden;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    @include border-radius(50px);
    font-family: $font-second;
    letter-spacing: 1px;
    margin-right: 10px;
    position: relative;
    text-align: center;
    color: $white!important;
    padding: 6px 30px;
    @include transition(all 0.35s);
    a{
        color: $white!important;
      }
    &:hover{
      background: $white;
      color: $black!important;
      a{
        color: $black!important;
      }
    } 
  }
  .gavias-overlay{
    &:after{
      content: "";
      background: url(#{$base-theme-image-path}grid-slide.png) repeat rgba(0, 0, 0, 0.3);
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
}   