@import "vars/_theme_variables";

@import "mixins/mixins";
@import "mixins/template";
@import "rtl/rtl"; 
.container{
  max-width: 100%;
  .container{
    width: 100%!important;
  }
}
ul{
   padding-left: 10px;
   li{
   list-style: inherit;
   }
}
.nav-tabs, .block-builder-main ul , .topbar ul , ul.contact-info, ul.menu{
   list-style: none!important;
   padding-left: 0;
}
.node--view-mode-full{
   p{
      margin-bottom: 10px;
   }
}

body{
  div.body-page{
    background-color: #fff;
  }
}

.sidebar nav.block{
  display: table;
  ul.gva_menu > li{
    width: 100%;
    > a{ 
      padding: 10px 0!important;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      display: block;
      width: 100%;
    }
  }
  ul.gva_menu .sub-menu{
    border-top: none;
    box-shadow: none;
    display: block !important;
    opacity: 1 !important;
    position: static;
    visibility: visible !important;
    a{
      padding-right: 0!important;
      font-size: 11px;
      color: #696969;
      padding-left: 20px;
    }
  }
}

.site-branding-logo{
  max-height: inherit;
  img{
    max-height: 80px;
    width: auto;
  }
}

#user-register-form{
  padding: 20px 0;
  .form-wrapper{
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $border-color;
    &#edit-actions{
      border-bottom: none;
    }
  }
  label{
    width: 100%;
  }
  .form-item{
    margin-bottom: 15px;
  }
}

input[type*='submit']{ 
  font-size: 13px;
  text-transform: uppercase;
  font-family: $font-second;
  background: $theme-color;
  color: $white;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 15px;
  @include border-radius(5px);
  position: relative;
  display: inline-block;
  @include transition(all 0.35s);
  border: 1px solid transparent;
  @include box-shadow(0 6px 10px rgba(0, 0, 0, 0.15));
  &:hover{
    background: $white;
    color: $black;
    border-color: $theme-color;
    @include box-shadow(0 3px 8px $theme-color);
  }
}

body.path-user{
  .help{
    max-width: 800px;
    margin: 0 auto;
    .container{
      width: 100%;
      padding: 0;
    }
  }
  #page-main-content > .main-content-inner{
    max-width: 800px;
    margin: 0 auto;
    @include box-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
    padding: 30px;
    margin-bottom: 50px;  
    margin-top: 30px;
  }
  summary{
    font-weight: 700;
    text-transform: uppercase;
    color: $theme-color;
  }
}

.item-list{
  ul{
    padding: 0;
    margin: 0!important;
    li.view-list-item{
      list-style-type: none!important;
    }
  }
}

header .area-main-menu .gva-search-region .search-content #edit-submit{
  top: 18px;
  right: 20px;
}


.gva-drupal-message-status{
  background: #fff;
  padding: 0 15px;
  position: fixed;
  bottom: 0;
  max-width: 1170px;
  max-height: 50%;
  margin: 0 auto;
  z-index: 999;
  width: 100%;
  @include translateX(-50%);
  left: 50%;
  @include box-shadow(1px -3px 7px rgba(0, 0, 0, 0.1));
}

 
.contact-message-feedback-form{
  padding-bottom: 45px;
  margin-bottom: 60px;
}