.block.block-gavias-blockbuilder{
  padding-bottom: 0!important;
  margin-bottom: 0!important;
  ul > li{
    list-style: none;
  }
}

 .gbb-row-wrapper{
    .icon-row{
      color: $theme-color;
    }
  }

.bb-container.full-screen{
  display: table;
  table-layout:fixed;
  width: 100%;
  .bb-inner{
    padding: 0!important;
  }
  > .row{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }
}

.gbb-row.gsc-equal-height{
  .row-wrapper{
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    &::before,
    &::after {
      display: none;
    }
    > .gsc-column{   
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      .column-inner{
        width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        &::before,
        &::after {
          content: " ";
          display: table;
        }
        &::after {
          clear: both;
        }
        @media (-ms-high-contrast: active), (-ms-high-contrast: none) {
          & > * {
            min-height: 1em;
          }
        }
      }
    }
  }
}

.grid-small{
  .container{
    max-width: 900px;
    margin: 0 auto;
  }
}

.gavias-blockbuilder-content{
  position: relative;
  .link-edit-blockbuider{
    border: 1px solid $border-color;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 99;
    @include transition(all 0.35s);
    @include box-shadow(0px 0px 10px 3px rgba(0, 0, 0, 0.1));
    background: $theme-color;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    display: inline-block;
    padding: 10px;
    &:hover, &:focus, &:active{
      color: $white;
    }
  }
}

.gbb-row{
  @media(max-width: $screen-sm-max){
    &[style*="padding-top"]{
      padding-top: 15px!important;
    }
    &[style*="padding-bottom"]{
      padding-bottom: 15px!important;
    }
  }
   .bb-inner{
      padding-top: 60px;
      padding-bottom: 60px;
      @media(max-width: $screen-sm-max){
        padding-top: 40px;
        padding-bottom: 40px;
      }
      &.remove_margin{
         margin: 0!important;
      }
      &.remove_padding{
         padding: 0!important;
      }
      &.remove_padding_col{
         .bb-container{
              .row{
               margin-left: 0!important;
               margin-right: 0!important;
               > .row-wrapper{
                  > div.gsc-column {
                    padding-left: 0!important;
                    padding-right: 0!important;
                  }
               }
            }
         }   
      } 
      &.remove_padding_top{
        padding-top: 0!important;
      }
      &.remove_padding_bottom{
        padding-bottom: 0!important;
      }
   }   
} 
.widget{
   /******************** Block for drupal ***********************/
   &.gsc-block-drupal{
      &.hidden-title-off{
         .block-inner{
            .block-title{
               h2{
                  display: none!important;
               }
            }
         }
      }
      &.title-align-center{
         .block-title{
            text-align: center;
         }
      }
      &.title-align-left{
         .block-title{
            text-align: left;
         }
      }
      &.title-align-right{
         .block-title{
            text-align: right;
         }
      }
      &.text-light{
        div{
          color: $white;
        }
         .block-inner{
            .block-title{
               color: $white;
            }
            .block-content{
               *, div{
                  color: $white;
                  &:after, &:before{
                     color: rgba(255, 255, 255, 0.2);
                  }
               }
            }
         }
      }
      &.remove-margin-on{
         .block{
            margin-bottom: 0!important;
         }
      }
   }
   /********************* Custom heading *************************/
   &.gsc-heading{
      padding: 5px 0 30px;
      display: block;
      width: 100%;
      @include clearfix();
      .title-sub{
        text-transform: uppercase;
        font-weight: 400;
        color: #999999;
        @include opacity(0.6);
        position: relative;
        font-family: $font-second;
        font-size: 14px;
        margin-bottom: 0;
      }
      .title{
        font-weight: 800;
        margin: 0;
        text-transform: uppercase;
        padding-bottom: 0;
        margin-bottom: 0;
        position: relative;
        color: $black;
        font-size: 26px;
        @media(max-width: $screen-xs-max){
          font-size: 20px!important;
        }
        strong{
          color: $theme-color!important;
        }
      }
      .title-icon{ 
         color: $theme-color;
         i{
          font-size: 22px;
          &.fa{
            margin-top: 5px;
          }
         }
         span{
            position: relative;
            padding: 0 5px;
         }
      }
      .title-desc{
         font-size: 15px;
         color: #999999;
         max-width: 700px;
         margin: 0 auto;
         margin-top: 15px;
         font-family: "Georgia";
         font-style: italic;
         line-height: 28px;
      }
      .line{
        height: 10px;
        margin-top: 10px;
        position: relative;
        &:after, &:before{
          content: "";
          background: $black;
          top: 0;
          left: 50%;
          position: absolute;
          z-index: 1;
        }
        &:before{
          @include size(80px, 1px);
          margin-left: -40px;
        }
        &:after{
          @include size(50px, 1px);
          margin-left: -25px;
          margin-top: 6px;
        }
      }
      &.align-center{
        text-align: center;
        .title-icon{ 
          color: $theme-color;
          margin-bottom: 10px;
          span{
            @include size(60px, 60px);
            background: $white;
            position: relative;
            padding: 15px;
            display: inline-block;
            line-height: 28px;
            @include box-shadow(0 6px 20px rgba(0, 0, 0, 0.15));
            @include border-radius(50%);
          }
        }
      }
      &.align-left{
        text-align: left;
        .title-desc{
          float: left;
        }
        .line{
          &:after, &:before{
            left: 0;
            margin-left: 0;
          }
        }
      }
      &.align-right{
        text-align: right;
        .title-desc{
          float: right;
        }
        .line{
          &:after, &:before{
            right: 0;
            margin-left: 0;
          }
        }
      }
      &.style-2{
        padding: 10px 0 20px;
        .title{
          span{
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 700;
            line-height: 1;
            letter-spacing: 1px;
          }
        }
      }
   }
   &.text-light{
      .title-sub{
        color: $white;
      }
      .title{
        color: $white;
      }
      .title-sub span{
        color: rgba(255, 255, 255, 0.9);
      }
      .title-icon span{
         &:after, &:before{
            background: rgba(255, 255, 255, 0.1);
         }
      }
      .title-desc{
         color: #CCCCCC;
      }
      .line{
        &:after, &:before{
          background: rgba(255, 255, 255, 0.6);
        }
      }
   }

   /********************** Call to action **************************/
   &.gsc-call-to-action{
      padding: 0;
      .subtitle{
        font-size: 14px;
        text-transform: uppercase;
        color: #444444;
        margin-bottom: 10px;
      }
      .title{
        font-weight: 700;
        font-family: $font-second;
        position: relative;  
        font-size: 24px;
        text-transform: uppercase;
        line-height: 45px;
        margin-top: 0;
        strong{
          color: $theme-color;
        }
      }
      .content{
         font-size: 15px;
         width: 85%;
         @media(max-width: $screen-sm-max){
            width: 100%;
         }
      }
      .content-inner{
        position: relative;
      }
      .button-action{
         a{
            background: $theme-color;
            color: $white;
            &:hover{
              background: $theme-color-second;
            }
         }
      }
     &.text-light{
        .content{
           color: $white;
           .title{
              color: $white;
           }
        }
        .subtitle{
          color: $white;
        }
        .button-action{
          a{
            background: $white;
            color: $black;
            @include transition(all 0.35s);
            &:hover{
              background: $black!important;
              color: $white;
            }
          }
        }
     }
     &.button-bottom{
        .title{
          text-align: left;
        }
        .content{
          text-align: left;
          padding: 0;
          width: 100%;
        }
        .button-action{
          text-align: left;
          margin-top: 25px;
        }
     }
     &.button-left{
        position: relative;
        .content{
           float: right;
           text-align: right;
           padding-left: 230px;
           @media(max-width: $screen-sm-max){
            width: 100%;
           }
           .title{
              margin-bottom: 0;
              padding-bottom: 0;
              font-weight: 400;
              font-size: 38px;
           }
        }
        .button-action{
           width: 200px;
           text-align: left;
           position: absolute;
           left: 0;
           top: 50%;
           margin-top: -20px;
        }
     }
     &.button-right{
        position: relative;
        .content{
          float: left;
          text-align: left;
          padding-right: 230px;
          @media(max-width: $screen-sm-max){
            width: 100%;
            padding: 0;
          }
          .title{
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }
        .button-action{
          width: 200px;
          text-align: right;
          position: absolute;
          right: 0;
          top: 50%;
          margin-top: -20px;
          @media(max-width: $screen-sm-max){
            width: 100%;
            position: relative;
            float: left;
            text-align: left;
            margin: 15px 0;
          }
        }
     }
     &.button-bottom-left{
        .title{
           text-align: left;
        }
        .content{
           text-align: left;
           width: 100%;
           @media(max-width: $screen-sm-max){
              width: 100%;
           }
        }
        .button-action{
           text-align: left;
           margin-top: 15px;
        }
     }
     &.button-bottom-right{
        text-align: right;
        .title{
          text-align: right;
        }
        .content{
          text-align: right;
          float: right;
        }
        .button-action{
          @include clearfix();
          margin-top: 20px;
          float: left;
          width: 100%;
        }
     }
     &.button-bottom-center{
        text-align: center;
        .title{
          margin: 0;
          font-size: 30px;
          text-transform: uppercase;
          line-height: 50px;
         
        }
        .content{
          text-align: center;
           max-width: 780px;
           margin: 0 auto;
        }
        .button-action{
          @include clearfix();
          width: 100%;
          margin-top: 30px;
        }
     }
     &.full-width, &.fullwidth{
      .content{
        width: 100%!important;
      }
     }
  }   

   /**************** Team ************************/
   &.gsc-team{
      .social-icons{
         a{
            @include size(35px, 35px);
            line-height: 35px;
            text-align: center;
            @include border-radius(50%);
            margin-right: 10px;
            display: inline-block;
            color: $white;
            @include transition(all 0.35s);
            @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.2));
            &:hover{
              @include box-shadow(0 3px 8px rgba(0, 0, 0, 0.4));
            }
         }
      }
      .team-name{
         font-size: 14px;
         text-transform: uppercase;
         padding: 0 0 15px ;
         position: relative;
         font-weight: 700;
         margin: 0;
         letter-spacing: 1px;
      }
      .team-position{
         text-transform: capitalize;
         color: $theme-color;
         font-weight: 400;
         font-size: 13px;
      }  
      .team-info{
         margin: 15px 0;
      }  

      &.team-horizontal{
         margin-top: 50px;
         .team-header{
          position: relative;
          overflow: hidden;
          img{
            @include transition(all 3s);
            display: inline-block;
          }
          .box-hover{
            @include opacity(0);
            @include scale(0.8);
            position: absolute;
            top: 0;
            left: 0;
            @include transition(all 0.35s);
            @include size(100%, 100%);
            background: rgba(0, 0, 0, 0.6);
            .content-inner{
              position: absolute;
              top: 50%;
              margin-top: -15px;
              left: 0;
              width: 100%;
              height: auto;
              padding: 0 20px;
            }
          }
          .social-list{
            a{
              background: none;
              color: $white!important;
              @include transition(all 0.35s);
              margin-right: 20px;
              display: inline-block;
              font-size: 16px;
              &:last-child{
                margin-right: 0;
              }
              &:hover{
                color: $theme-color!important;
              }
            }
          }
         }
         .team-name{
            font-size: 14px;
            margin: 0 0 12px 0;
            text-transform: uppercase;
            padding: 0 0 12px;
            position: relative;
            font-weight: 800;
            &:after{
               bottom: 0;
               left: 0;
               content: "";
               background: $theme-color;
               @include size(45px, 1px);
               position: absolute;
            } 
         }
         &:hover{
          .box-hover{
            @include opacity(1);
            @include scale(1);
          }
          .team-header{
            img{
              @include scale(1.2);
            }
          }
        } 
      }

      &.team-vertical-small{
        background: #F6F6F6;
        padding: 30px;
        text-align: center;
        @include transition(all 0.35s);
        .team-header{
          @include size(110px, 110px);
          @include border-radius(50%);
          display: inline-block;
        }
        &:hover{
          @include box-shadow(0 2px 6px rgba(0, 0, 0, 0.2));
        }
      }

      &.team-vertical{  //vertical
        margin-bottom: 30px;
        position: relative;
        background: none;
        @include transition(all 0.35s);
        @include border-radius(6px);  
        .team-header{
          overflow: hidden;
          position: relative;
          img{
            @include transition(all 3s);
            display: inline-block;  
          }
        }
        .social-list{
          a{
            background: none;
            color: $white!important;
            @include transition(all 0.35s);
            margin-right: 20px;
            display: inline-block;
            font-size: 16px;
            &:last-child{
              margin-right: 0;
            }
            &:hover{
              color: $black!important;
            }
          }
        }
        .team-name{
          padding: 0;
          color: $white;
        }
        .team-position{
          color: $white;
        }
        .team-content{
          color: $white;
        }
        .box-hover{
          @include opacity(0);
          @include scale(0.8);
          position: absolute;
          top: 0;
          left: 0;
          @include transition(all 0.35s);
          @include size(100%, 100%);
          background: rgba(0, 0, 0, 0.6);
          .team-content{
            position: absolute;
            left: 0;
            width: 100%;
            height: auto;
            padding: 0 20px;
            top: 50%;
            @include translateY(-50%);
          }
        }
        .team-body{
          bottom: 0;
          left: 0;
          @include transition(all 0.35s);
          .content-hover{
            @include opacity(0);
          }
          .info{
            padding: 20px 15px;
            position: relative;
            margin-top: -35px;
            margin-left: 15px;
            margin-right: 15px;
            z-index: 99;
            background: $theme-color;
          }
        }
        &:hover{
          .box-hover{
            @include opacity(1);
            @include scale(1);
          }
        }  
      }
      &.team-circle{  //vertical
       .team-header, .box-hover{
        @include border-radius(50%);
       } 
      }
   }

   /******************** Chart *****************************/
   &.gsc-chart{
      text-align: center;
      .easyPieChart {
        font-size: 24px;
        font-weight: 400;
        position: relative;
        text-align: center;
        display: inline-block;
        &:last-child {
          margin-right: 0;
        }
        span {
          line-height: 20px;
          font-size: 12px;
          font-weight: 700;
          text-transform: uppercase;
        }
        canvas {
         position: absolute;
         top: 0;
         left: 0;
        }
      }
      .content{
         text-align: center;
         > div{
            display: block;
         }
         .icon{
            font-size: 25px;
            margin-top: 5px;
         }
         .title{
            text-transform: uppercase;
            font-weight: 12px;
            font-weight: 700;    
            position: relative;
            padding-bottom: 10px;
            margin-bottom: 10px;
            margin-top: 10px;
            font-family: $font-second;      
         }
      }
   }

   /************* Icon Box **********************/
   &.gsc-icon-box{
    margin-bottom: 30px;
    position: relative;
    @include transition(all 0.35s);
    &[style*="background-color"]{
      padding: 30px 30px 30px;
      @include box-shadow(0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07));
      &.left, &.right{
        .highlight-icon{
          top: 12px;
        }
      }
    }
    a{
      @include transition(all 0.35s);
      &:hover, &:hover h4{
        color: $theme-color!important;
      }
    }
    .highlight_content{
      h4{
        text-transform: uppercase;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        font-weight: 700;
        font-size: 15px;
      }
    }
    .title-desc{
      line-height: 1.65;
    }
    .desc{
      line-height: 26px;
      word-wrap: break-word;  
    }
    .highlight-icon{
      margin: 0;
      @include transition(all 0.35s);
      display: inline-block;
      text-align: center;
      @include size(54px, 54px);
      @include border-radius(50%);
      @include box-shadow(0 6px 20px rgba(0, 0, 0, 0.1));
      position: relative;
      line-height: 54px;
      &:after{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        @include size(100%, 100%);
        z-index: 1;
        @include scale(1.3);
        opacity: 0;
        @include transition(all 0.4s); 
        background: $theme-color; 
        @include border-radius(50%);
      }
      .icon{
        color: $theme-color; 
        position: relative;
        display: inline-block;
        overflow: hidden;
        font-size: 24px;
        z-index: 2;
        @include transition(color 0.35s);
        &.fa{
           margin-top: 16px;
          display: inline-block;
        }
      }
    }
    .link{
      position: absolute;
      bottom: 15px;
      right: 20px;
      z-index: 1;
      line-height: 1;
      a{
        color: $black;
        font-size: 24px;
        @include transition(all 0.35s);
        &:hover{
          color: $black;
        }
      }
    }
    
    &:hover{
      &:not(.box-card-left):not(.box-card-right){ 
        .highlight-icon{
          &:after{
            @include opacity(1);
            @include scale(1);
          }
          .icon{
            color: $white!important;
          }
        }
      }
    }

    &.top-center{
      text-align: center;
      .link{
        position: static;
        margin-top: 10px;
      }
      .highlight-image{
        margin-bottom: 25px;
        img{
          @include border-radius(4px);
          @include box-shadow(0 6px 20px rgba(0, 0, 0, 0.1));
        }
      }
      .highlight-icon{
        text-align: center;
        @include transition(all 0.35s);
        @include size(80px, 80px);
        line-height: 80px;
        background: $white;
        .icon{
          font-size: 30px;
          &.fa{
            margin-top: 26px;
          }
        }
      } 
      .highlight_content{
        text-align: center;
        h4{
          text-align: center;
        }
        .desc{
          text-align: center;
          font-weight: 400;
          text-transform: normal;
          font-size: 14px;
        }
      }
    }  
    &.top-center-v2{
      text-align: center;
      .link{
        position: static;
        margin-top: 10px;
      }
      .highlight-image{
        margin-bottom: 25px;
      }
      .highlight-icon{
        text-align: center;
        @include transition(all 0.35s);
        @include size(80px, 80px);
        line-height: 80px;
        background: none!important;
        .icon{
          font-size: 30px;
          color: $theme-color!important;
        }
      } 
      .highlight_content{
        text-align: center;
        h4{
          text-align: center;
        }
        .desc{
          text-align: center;
          font-weight: 400;
          text-transform: normal;
          font-size: 14px;
        }
      }
      &:hover{
        .highlight-icon{
          &:after{
            @include opacity(0);
            display: none!important;
          }
        }
      }
    }
    &.top-left{
      text-align: left;
      .highlight-image{
        margin-bottom: 15px;
      }
      .highlight-icon{
        display: inline-block;
        position: relative;
        text-align: center;
        .icon{
          text-align: center;
        }
      }
      .highlight_content{
        text-align: left;
      }
    }
    &.top-left-title{
      text-align: left;
      position: relative;
      .highlight-icon{
        background: none;
        display: inline-block;
        position: relative;
        padding: 0;
        position: absolute;
        top: -8px;
        border: none;
        left: 0;
        z-index: 1;
        .icon{
          text-align: center;
          color: $black;
        }
      }
      .highlight_content{
        padding: 0;
        text-align: left;
        h4{
          padding-left: 70px;
          padding-bottom: 0;
          padding-top: 12px;
        }
      }
      .desc{
        padding-top: 16px;
      }
      .link{
        position: static;
        margin-top: 10px;
      }
    }
    &.top-right-title{
      text-align: right;
      position: relative;
      .highlight-icon{
        background: none!important;
        display: inline-block;
        padding: 0;
        position: absolute;
        top: -8px;
        right: 0;
        text-align: center;
        z-index: 1;
        .icon{
          text-align: center;
          color: $theme-color;
        }
      }
      .highlight_content{
        padding: 0;
        text-align: right;
        h4{
          padding-right: 70px;
          padding-bottom: 0;
          padding-top: 12px;
        }
      }
      .desc{
        padding-top: 16px;
      }
    }
    &.top-right{
      text-align: right;
      .highlight-icon{
        display: inline-block;
        position: relative;
        text-align: right;
        .icon{
          text-align: center;
        }
      }
      .highlight_content{
        padding: 0;
        text-align: right;
      }
    }

    &.right{
      .highlight-icon{
        float: right;
        padding-top: 0;
        position: relative;
        text-align: center;
        margin: 0;
        line-height: 20px;
        .icon{
          text-align: center;
        }
      }
      .highlight_content{
        padding-right: 65px;
        text-align: right;
      }
    }

     &.left{
      .highlight-icon{
        float: left;
        color: $white;
        padding-top: 0;
        position: relative;
        text-align: center;
        float: left;
        .icon{
          display: inline-block;
        }
      }
      .desc{
        margin-top: 5px;
      }
      .highlight_content{
        padding-left: 65px;
        text-align: left;
      }
    }

    &.box-card-left{
      @include box-shadow(0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07));
      padding: 20px 20px 20px 100px;
      position: relative;
      overflow: hidden;
      h4{
        margin-top: 0;
      }
      .highlight-icon{
        @include box-shadow(none);
        @include size(auto, auto);
        position: absolute;
        left: 20px;
        top: 30px;
        @include transition(all 0.35s);
        .icon{
          font-size: 60px;
          line-height: 1;
          &.fa{
            margin-top: 0!important;
          }
        }
      }
      &:hover{
        .highlight-icon{
          @include opacity(0.2);
         @include transform(rotate(30deg) scale(2.2));
        }
      }
    }  

    &.box-card-right{
      @include box-shadow(0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07));
      padding: 20px 100px 20px 20px;
      position: relative;
      overflow: hidden;
      h4{
        margin-top: 0;
      }
      .highlight-icon{
        @include box-shadow(none);
        @include size(auto, auto);
        position: absolute;
        right: 20px;
        top: 30px;
        @include transition(all 0.35s);
        .icon{
          font-size: 60px;
          line-height: 1;
          &.fa{
            margin-top: 0!important;
          }
        }
      }
      &:hover{
        .highlight-icon{
          @include opacity(0.2);
         @include transform(rotate(30deg) scale(2.2));
        }
      }
    } 
     &.text-light{
      h4{
        color: $white;
      }
      .desc{
        color: $white;
      }
      &.top-center-v2{
        .icon{
          color: $white!important;
        }
      }
    }
  }

   /******************** Video Box **************************/
   &.gsc-video-box{
      position: relative;
      -webkit-background-size: cover;
      -o-background-size: cover;
      -ms-background-size: cover;
      background-size: cover;
      display: block;
      @include box-shadow(0 0 10px 2px rgba(0, 0, 0, 0.1));
      .modal-dialog{
        height: auto;
        .modal-content{
          height: 100%;
          iframe{
            width: 100%;
            min-height: 300px;
          }
        }
      }
      .gsc-video-link{
          position: absolute;
          top: 50%;
          left: 0;
          margin-top: -45px;
          text-align: center;
          width: 100%;
          z-index: 1;
          .icon-play{
              background: url('#{$base-theme-image-path}/icon-play.png') no-repeat center center $nocolor;
              @include size(85px, 85px);
              display: inline-block;
              @include scale(1);
              @include transition(all 0.35s);
              &:hover{
                  @include scale(.8);
              }
          }
         .video-title{
              display: block;
              font-size: 18px;
              font-weight: 700;
              color: $white;
              text-transform: uppercase;
          }    
      }
      #gsc-video-overlay{
          overflow: hidden;
          position: absolute;
          @include size(100%, 100%);
          z-index: 99;
          top: 0;
          left: 0;
          &:hover{
              .video-close{
                  @include opacity(1);
                  top: 0;
              }
          }
      }
      .loaded{
          max-width: 100%;
      }
      .video-close{
          @include transition(all 0.35s);
          display: block;
          text-align: center;
          position: absolute;
          top: -50px;
          @include size(100%, 30px);
          color: $white;
          background: rgba(0, 0, 0, 0.6);
          font-size: 48px;
          font-weight: 900;
          line-height: 0.5;
          z-index: 999;
          @include opacity(0);
      }
    }

  /*************** Milestone ***************/
  &.milestone-block {
      display: inline-block;
      margin-right: 50px;
      @include transition(all 0.35s);
      @include border-radius(5px);
      .milestone-icon {
        float: left;
        text-align: center;
        position: relative;
        span {
          font-size: 32px;
          color: $black;
        }
      }
      .milestone-number {
        font-size: 34px;
        line-height: 36px;
        font-weight: 400;
        color: $black;
        margin: 20px 0 10px;
      }
      .milestone-text {
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: $font-second;
        color: $black;
        letter-spacing: 1px;
      }
      &.icon-top{
        text-align: center;
        display: block;
        width: 100%;
        padding: 40px 0;
        background: rgba(255, 255, 255, 0.1);
        .milestone-icon{
          background: $white;
          color: $theme-color;
          @include border-radius(50%);
          @include size(65px, 65px);
          line-height: 66px;
          display: inline-block;
          text-align: center;
          float: none;
          margin: 0;
          span{
            color: $theme-color;
            &.fa{
              padding-top: 3px;
            }
          }
        }
        .milestone-right{
          display: block;
          text-align: center;
          float: none;
          width: 100%;
          margin-top: 10px;
        }
         &:hover{
          background: $theme-color;
          .milestone-number, .milestone-text{
            color: $white!important;
          }
        }
      }
      &.text-light{
        .milestone-number, .milestone-text{
          color: $white!important;
        }
      }
      &.icon-left{
        position: relative;
        .milestone-number{
          padding-left: 55px;
        }
        .milestone-text{
          padding-top: 5px;
        }
        .milestone-icon{
          position: absolute;
          left: 0;
          top: 22px;
          line-height: 1;
        }
        &.text-light{
          .milestone-icon span{
            color: $white!important;
          }
        }
      }
    }
    /*************** Box Color ***************/
    &.gsc-box-image{
      @include transition(all 0.35s);
      &:hover{
        @include box-shadow(0 1px 10px 1px rgba(0, 0, 0, 0.2));
        .image:after{
          @include opacity(1);
          @include scale(1);
        }
      }
      .image{
        position: relative;
        &:after{
          content: "";
          background: $theme-color-rgba;
          position: absolute;
          top: 0;
          left: 0;
          @include size(100%, 100%);
          z-index: 9;
          @include opacity(0);
          @include scale(0);
          @include transition(all 0.35s);
        } 
      }
      .body{
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-top: 5px solid;
        position: relative;
        padding: 0 20px 30px;
        .icon{ 
          @include size(60px, 60px);
          line-height: 60px;
          display: inline-block;
          font-size: 35px;
          color: $white;
          background: $theme-color;
          position: absolute;
          left: 50%;
          margin-left: -30px;
          margin-top: -30px;
          z-index: 11;
          overflow: hidden;
          &:after{
            background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
            content: "";
            height: 200%;
            left: 22px;
            position: absolute;
            top: -12px;
            transform: rotate(45deg);
            width: 100%;
            z-index: 1;
          }
        }
        .title{
          padding-top: 45px;
          h3{
            font-size: 14px;
          }
        }
        .readmore{
          margin-top: 20px;
        }
      }  
    }
    /***********************************************/

    /***********************************************/
    &.gsc-progress{
      &.text-light{
        .progress-label{
          color: $white;
        }
      }
    }
} 

.gsc-box-info{
  position: relative;
  .content{
    width: 50%;  
    padding: 45px;
    @media(max-width: $screen-md-max){
      padding: 30px;
    }
    @media(max-width: $screen-sm-max){
      padding: 20px;
    }
    @media(max-width: $screen-xs-max){
      padding-top: 310px;
      width: 100%;
    }
    .content-bg{
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, 100%);
      z-index: 1;
    }
    .content-inner{
      position: relative;
      z-index: 9;
    }
    .subtitle{
      font-size: 14px;
      text-transform: uppercase;
      color: $black;
      font-family: $font-second;
      font-weight: 700;
    }
    .title{
      font-size: 26px;
      margin-bottom: 20px;
      h3{
        margin: 0;
      }
    }
    .readmore{
      margin-top: 30px;
    }
    &.text-light{
      color: $white;
      .title h3, .title h2, .desc{
        color: $white;
      }
      .subtitle{
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
  .image{
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 9;
    top: 0;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media(max-width: $screen-xs-max){
      height: 300px;
      width: 100%;
    }
  }
  &.content-align-left{
    .content{
      float: left;
      padding-left: 0;
    }
    .image{
      right: 0;
    }
  }
  &.content-align-right{
    .content{
      padding-right: 0;
      float: right;
    }
    .image{
      left: 0;
    }
  }
}

.gsc-box-parallax{
  position: relative;
  margin-bottom: 80px;
  .col-first{
    width: 60%;
    float: right;
    @media(max-width: $screen-sm-max){
      width: 100%!important;
    }
  }
  .col-second{
    padding: 20px 30px 30px;
    background: $white;
    position: absolute;
    width: 50%;
    height: auto;
    z-index: 9;
    height: 80%;
    left: 0;
    @include box-shadow(0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07));
    .content-inner{
      position: relative;
    }  
    @media(max-width: $screen-sm-max){
      @include clearfix();
      width: 100%!important;
      position: static!important;
      height: auto!important;
      float: left;
    }
  }

  .content-inner{
    .subtitle{
      font-size: 14px;
      text-transform: uppercase;
      color: $black;
      font-family: $font-second;
      font-weight: 700;
    }
    .title{
      font-size: 26px;
      margin-bottom: 10px;
      h3{
        margin: 0;
        font-size: 20px;
      }
    }
    .readmore{
      margin-top: 30px;
    }
  }

  &.content-align-left{

  }
  &.content-align-right{
    .col-first{
      float: left;
      text-align: right;
    }
    .col-second{
      right: 0;
      left: auto;
    }
  }
}

.container-fw{
  .gsc-box-info{
    .content{
      padding: 75px;
      @media(max-width: $screen-md-max){
        padding: 30px;
      }
    }
  }
}


.gsc-hover-box{
  text-align: left;
  background: $white;
  padding: 30px;
  margin-bottom: 60px;
  @include transition(all 0.35s);
  border: 3px solid $border-color;
  position: relative;
  .icon{
    @include size(60px, 60px);
    position: absolute;
    top: -30px;
    right: 30px;
    background: $white;
    font-size: 38px;
    line-height: 60px;
    text-align: center;
    color: $black;
  }
  .box-title{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: $black;
    margin-bottom: 10px;
    font-family: $font-second;
  }
  .content{
    font-size: 14px;
  }
  .link{
    margin-top: 15px;
    a{
      text-transform: uppercase;
      font-weight: 700;
      color: $theme-color;
      @include transition(all 0.35s);
      font-size: 14px;
      &:hover{
        color: $theme-color-second;
      }
    }  
  }
  &.active, &:hover, &:active, &:focus{
    border-color: $theme-color;
    .icon{
      color: $theme-color;
    }
  }
}

.gsc-hover-background{
  position: relative;
  background: #F5F5F5;
  padding: 85px 0;
  margin-bottom: 30px;
  .front{
    text-align: center;
    @include transition(all 0.35s);
    @include scale(1);
    .icon{
      line-height: 1;
      font-size: 42px;
      color: $theme-color;
    }
    h2{ 
      font-size: 16px;
      font-weight: 700;
      color: $black;
      font-family: $font-second;
      text-transform: uppercase;
      margin-top: 15px;
      letter-spacing: -1px;
    }
  }
  .back{
    position: absolute;
    top: 0;
    left: 0;
    @include size(100%, 100%);
    z-index: 11;
    @include opacity(0);
    @include scale(0);
    @include transition(all 0.35s);
    -webkit-background-size: cover!important;
    -o-background-size: cover!important;
    -ms-background-size: cover!important;
    background-size: cover!important;
    &:after{
      content: "";
      @include size(100%, 100%);
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
      position: absolute;
    }
    .content{
      color: $white;
      padding: 10px 30px;
      vertical-align: middle;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      display: inline-block;
      text-align: center;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 9;
      .content-text{
        font-size: 15px;
        color: $white;
        padding-bottom: 15px;
      }
    }
  }
  &:hover{
    .front{
      @include scale(0);
      @include opacity(0);
    }
    .back{
      @include opacity(1);
      @include scale(1);
    }
  }
}

.gsc-quote{
  position: relative;
  padding-top: 125px;
  &:after{
    position: absolute;
    content: "";
    background: url('#{$base-theme-image-path}/testimonial-icon.png') no-repeat center center $nocolor;
    @include size(30px, 30px);
    left: 0;
    top: 50px;
    z-index: 1;
  }
  .content{
    line-height: 28px;
  }
  .signature{
    margin-top: 60px;
  }
  .position{
    margin-top: 25px;
  }
}

.gsc-quote-text{
  position: relative;
  padding: 30px 30px 30px 70px;
  .icon{
    position: absolute;
    left: 20px;
    top: 30px;
    z-index: 1;
    font-size: 20px;
    color: $theme-color;
  }
  .content{
    line-height: 30px;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #999999;
  }
  &.has-border{
    border: 2px solid $border-color;
  }
}

.gsc-tabs{
  .tabs_wrapper{
    &.tabs_horizontal{
      .nav-tabs{
        margin: 5px 0;
        padding: 10px;
        @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
        background: $white;
      }
      .tab-content{
        margin-top: 20px;
        .tab-pane{
          background: $white;
          @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
          padding: 30px;
        } 
      }
    }
    &.tabs_horizontal_icon{
      text-align: center;
      .nav-tabs{
        margin: 5px 0;
        padding: 10px;
        background: $white;
        text-align: center;
        display: inline-block;
        > li{
          display: inline-block;
          a{
            padding-left: 15px;
            padding-right: 15px;
          }
          span{
            display: block;
            margin-bottom: 6px;
          }
          i{
            @include size(60px, 60px);
            border: 2px solid $border-color;
            @include border-radius(50%);
            line-height: 60px;
            text-align: center;
            font-size: 24px;
            margin: 0;
          }
          &.active, &:hover, &:active, &:focus{
            i{
              border-color: $theme-color;
            }
          }
        }
      }
      .tab-content{
        text-align: left;
        font-size: 15px;
        max-width: 900px;
        margin: 0 auto;
        .tab-pane{
          background: $white;
          padding: 30px;
          border: 1px solid $border-color;
        } 
      }
    }
    &.tabs_vertical{
      .nav-tabs{
        width: 25%;
        float: left;
        > li{
          @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
          background: $white;
          display: block;
          margin-bottom: 20px;
          width: 100%;
          margin-right: 0;
          padding-right: 0;
          a{
            width: 100%;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .tab-content{
        width: 75%;
        float: left;
        padding-left: 15px;
        .tab-pane{
          background: $white;
          @include box-shadow(0 1px 6px rgba(0, 0, 0, 0.1));
          padding: 30px;
        }  
      }
    }
  }  
}

.gsc-gmap{
  position: relative;
  &.style-1{
    margin-bottom: -10px;
    iframe{
      width: 100%!important;
      pointer-events: none;
    }
    .info-inner{
      padding: 45px 30px;
      position: absolute;
      top: 100px;
      bottom: 100px;
      left: 20%;
      width: 375px;
      z-index: 99;
      background: $white;
      @media(max-width: $screen-md-max){
        left: 15%;
      }
      @media(max-width: $screen-sm-max){
        position: static;
      }
      .info-item{
        margin-bottom: 15px;
      }
    }
  }
  &.style-2{
    margin-top: 100px;
    @media(max-width: $screen-sm-max){
      margin-top: 30px;
    }
    .info-inner{
      padding: 60px 75px 60px 35px;
      position: absolute;
      top: -70px;
      bottom: -70px;
      width: 360px;
      z-index: 99;
      border: 5px solid $theme-color;
      z-index: 9;
      @media(max-width: $screen-sm-max){
        margin: 20px 0;
        position: static;
        width: 100%;
        float: left;
      }  
    }
    .map-content{
      position: relative;
      z-index: 99;
      width: 65%;
      float: right;
      @media(max-width: $screen-sm-max){
        position: static;
        width: 100%;
      } 
      iframe{
        width: 100%;
        pointer-events: none;
      }
    }
  }  
}

.gsc-button{
  @include transition(all 0.35s);
  font-family: $font-second;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  border: 2px solid $nocolor;
  margin-bottom: 20px;
  display: inline-block;
  clear: both;
  &.radius-2x{
    @include border-radius(5px);
  }
  &.radius-5x{
    @include border-radius(60px);
  }
  &.mini{
    font-size: 10px;
    padding: 3px 10px;
  }
  &.small{
    font-size: 10px;
    padding: 8px 15px;
  }
  &.medium{
    font-size: 12px;
    padding: 12px 35px;
  }
  &.large{
    font-size: 14px;
    padding: 18px 60px;
  }
  &.extra-large{
    font-size: 14px;
    padding: 20px 60px;
  }
}

.gsc-accordion{
  .panel-body{
    padding-left: 0;
    padding-right: 0;
  }
}

.service-timeline {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  position: relative;
  .hentry {
    position: relative;
    .icon{
      font-size: 22px;
      color: $theme-color;
      position: relative;
      @include transition(all 0.35s);
    }
    .hentry-box{
      @include box-shadow(0 10px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.1));
      background: $white;
      padding: 30px;
    }
    @media(max-width: $screen-sm-max){
      padding-left: 70px!important;
      .icon{
        left: 0 !important;
      }
    }
    @media(max-width: $screen-xs-max){
      .content-inner{
        padding-left: 15px!important;
      }
    }
  }

  &:before {
    background: $border-color;
    content: "";
    left: 50%;
    top: 10px;
    bottom: 0;
    position: absolute;
    width: 1px;
    margin-left: -1px;
    margin-top: -10px;
    height: 100%;
    @media(max-width: $screen-sm-max){
      left: 0;
    }
  }
  > li {
    display: block;
    width:100%;
    position: relative;
    padding-top: 80px;
    &.active{
      .icon{
        background: $theme-color!important;
        color: $white!important;
      }
    }
    &:last-child{
      padding-bottom: 110px;
    }
    .hentry{
      width: 50%;
    }
    @media(max-width: $screen-sm-max){
      .hentry{
        padding-left: 40px;
        width: 100%;
        float: left;
        clear: left;
      }  
    }
    &:nth-child(even) {
      .hentry {
        float: left;
        clear: left;
        padding-right: 50px;
        text-align: right;
        @media(max-width: $screen-sm-max){
          text-align: left;
          padding-right: 0;
          padding-left: 50px;
        }
        .icon{
          right: -35px;
          @media(max-width: $screen-sm-max){
             left: -35px;
             right: auto;
          }
        }
        .hentry-box{
          .content-inner{
            padding-right: 10px;
            @media(max-width: $screen-sm-max){
              padding-left: 10px;
              padding-right: 0;
            }
          }
        }
      }
    }
    &:nth-child(odd) {
      .hentry {
        float: right;
        clear: right;
        padding-left: 50px;
        text-align: left;
    
        .icon{
          left: -35px;
        }
        .hentry-box{
          .content-inner{
            padding-left: 10px;
          }
        }
      }
    }
    .hentry {
      position: relative;
      .icon{
        display: inline-block;
        @include size(68px, 68px);
        @include border-radius(50%);
        border: 1px solid $border-color;
        text-align: center;
        line-height: 65px;
        position: absolute;
        top: 50%;
        margin-top: -35px;
        background: $white;
        z-index: 9;
        @include box-shadow(0 6px 20px rgba(0, 0, 0, 0.15));
      }
      .title{
        font-size: 12px;
        font-weight: 900;
        color: $black;
        text-transform: uppercase;
      }
    }
  }
}

.gsc-image-content{
  position: relative;
  margin-bottom: 30px;
  .image{
    position: relative;
    overflow: hidden;
    @include border-radius(5px);
    img{
      @include transition(all 3s);
    }
    &:after{
      content: "";
      @include size(100%, 100%);
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
      background: rgba(0, 0, 0, 0.4);
      @include border-radius(5px);
      overflow: hidden;
    }
  }  
  .content{
    @include border-radius(0 0 5px 5px);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 45px;
    z-index: 9;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.9)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
    .title{
      font-size: 14px;
      text-transform: uppercase;
      color: $white;
      font-family: $font-second;
      margin-bottom: 5px;
    }
    .desc{
      color: #fff;
      font-size: 12px;
    }
  }
  .read-more{
    position: absolute;
    bottom: -20px;
    width: 100%;
    text-align: center;
    z-index: 11;
  }
  &:hover{
    .image{
      img{
        @include scale(1.2);
      }
    }
  }
}


.gsc-multi-sroll{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  .ms-section{
    background: $white;
    .bg-full{
      position: absolute;  
      top: 0;
      left: 0;
      z-index: 9;
      @include size(100%, 100%);
      background-repeat: no-repeat;
    }
    .main-content{
      padding-top: 0;
      padding-left: 15px;
      padding-right: 15px;
      max-width: 550px;
      margin: 0 auto;
      text-align: center;
      .number{
        color: #262626;
        font-size: 72px;
        font-weight: 700;
        font-family: $font-second;
        line-height: 1;
      }
      .title{
        font-size: 30px;
        color: $theme-color;
        font-weight: 700;
        font-family: $font-second;
      }
      .desc{
        color: #aaaaaa;
      }
    }
    .image{   
      margin-top: 45px;
      @media(max-width: $screen-md-max){
        margin-top: 15px;
      }
    }
  }
}