html{
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  &.boxed{ 
    max-width: 1440px;  
    margin: 0 auto;
    @include box-shadow(0px 5px 5px rgba(0, 0, 0, 0.15));
    background-color: #efefef;
    div.body-page{
      background: $white;
    }
  }
  .gva-body-page{
    overflow: hidden!important;
  }
}

.container{
  max-width: 100%;
  .container{
    width: 100%!important;
  }
}

.topbar{
  background: #F7F7F7;
  color: #848484;
  font-size: 12px;
  padding: 15px 0;
  @media(max-width: $screen-xs-max){
    display: none;
  }
  i{
    color: #848484;
    font-size: 14px;
    &:hover{
      color: $theme-color;
    }
  }
  .block{
    margin: 0!important;
  }
}

header{
  .header-main{
    padding: 30px 0;
    background: $white; 
  }
  .site-branding-logo{
    padding: 30px 0 0;
    display: inline-block;
    max-height: 80px;
    @media(max-width: $screen-md-max){
      padding: 10px 0!important;
    }
  }
  @media(max-width: $screen-sm-max){
    .site-branding{
      text-align: left;
      padding-bottom: 10px;
    }
    .header-right-inner, .header-right-inner .block{
      text-align: center!important;
    }
  }
  .header-main{
    padding: 0;
    background: none;
  }
  .area-main-menu{
    .navigation{
      position: static;
      ul.gva_menu{
        position: static;
      }
    }
    .area-inner{
      padding-left: 40px;
    }
    .gva-search-region{
      position: absolute;
      right: 5px;
      top: 50%;
      margin-top: -13px;
      z-index: 9;
      @media(max-width: $screen-sm-max){
        margin-top: -5px;
        top: 30px;
        right: 85px;
        .icon{
          color: $black!important;
        }
      }
      .icon{
        font-size: 14px;
        color: $white;
        &:hover{
          cursor: pointer;
        }
      }
      .search-content{ 
        display: none;
        width: 275px;
        position: absolute;
        top: 43px;
        right: 0;
        margin-top: -1px;
        z-index: 99;
        background: $white;
        padding: 20px;
        @include box-shadow(0px 2px 5px rgba(0, 0, 0, 0.2));
        input#edit-keys{
          height: 35px;
          padding: 5px;
          border: 1px solid $border-color;
          background: none;
          width: 100%;
        }
        #edit-submit{
          position: absolute;
          top: 0;
          right: 0;
          z-index: 1;
        }
        #edit-actions{
          margin: 0!important;
          padding: 0!important;
        }
      }
      &.show{
        .search-content{
          display: block;
        }
      }
    }
  }
  .block{
    overflow: visible;
  }
}

header.header-v1{
  position: relative;
  background: $white;
  .site-branding-logo{
    padding-top: 22px;
  }
  .gva-search-region{
    .icon{
      color: $black;
    }
  }
  .header-inner{
    padding-right: 22px;
  }
  .header-main{
    @include box-shadow(0px 10px 5px -5px rgba(0, 0, 0, 0.1));
    position: relative;
    z-index: 9;
  }
  .stuck{
    background: $white;
  }
}  

header.header-v2{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: none;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 2px;
  .gva-search-region{
    .icon{
      color: $white!important;
    }
  }
  @media(max-width: $screen-sm-max){
    position: static;
    .gva-search-region{
      .icon{
        color: $black!important;
      }
    }
  }
  .site-branding-logo{
    padding-top: 20px;
  }
  
  .header-inner{
    padding-right: 40px;
  }
  .navigation .gva_menu > li > a{
    color: $white;
  }
  .stuck{
    background: $white;
    .navigation .gva_menu > li > a{
      color: $black!important;
      &:hover{
        color: $theme-color!important;
      }
    }
  }
}

header.header-v3{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background: $nocolor;
  margin-top: 2px;
  .header-main-inner{
    margin-top: 30px;
    background: $white;
    @include border-radius(3px);
    padding: 0 20px;
  }
  .stuck{
    .header-main-inner{
      margin-top: 0;
    }
  }
  .site-branding-logo{
    padding-top: 20px;
  }
  .gva-search-region{
    right: 15px;
    .icon{
      color: $black;
    }
  }
  .navigation .gva_menu > li > a{
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-inner{
    padding-right: 20px;
  }
}  

header.header-v4{
  .header-main{
    padding: 30px 0;
    .site-branding-logo{
      padding-top: 5px;
    }
  }
  .widget{
    margin-bottom: 0;
    &.gsc-icon-box{
      @media(max-width: $screen-xs-max){
        margin-top: 20px;
      }
      h4{
        margin: 0;
      }
    }
  }
  .block{
    margin-bottom: 0;
  }
  .main-menu{
    background: $theme-color;
    .area-inner{
      padding: 0;
    }
    ul.gva_menu_main{
      float: left;
      > li{
        padding: 18px 12px;
        position: relative;
        > a{
          padding: 0;
          color: $white;
          position: relative;
          &:after{
            content: "";
            @include size(0, 1px);
            background: $white;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 1;
            @include transition(all 0.35s);
          }
          &:hover, &:active, &:focus{
            &:after{
              width: 100%;
            }
          }
        }
        > ul{
          top: 99%;
        }
        &:hover, &:active, &:focus{
          > a{
            &:after{
              width: 100%;
            }
          }
        }
      }
    }
  }  
  @media(max-width: $screen-sm-max){
    .menu-bar{
      margin-top: 15px;
      span{
        background: $white;
      }
    }
    .area-main-menu .gva-search-region{
      top: 15px!important;
      i{
        color: $white;
      }
    }
  }
}

.stuck {
  position:fixed!important;
  top: 0;
  left: 0;
  z-index: 99!important;
  width: 100%;
  @include box-shadow(0 0 5px 5px rgba(0, 0, 0, 0.1));
}

.area{
  &.highlighted{

  }
  &.slideshow_content{
    .block{
      margin-bottom: 0;
    }
  }
}

.area-panel{
  padding: 30px 0;
}

.header-right{
  .block{
    margin-bottom: 0;
  }
}

.promotion{
  padding: 0;
  margin-bottom: 0;
}

#page-main-content{
  min-height: 360px;
  @media(max-width: $screen-sm-max){
    min-height: 100px;
  }
}

.main-menu{
  .area-main-menu{
    .area-inner{
      .block{
        margin-bottom: 0;
      }
    }  
  }
}  

.sidebar{
  position: relative;
}

body{
  &.hidden-footer{
    .footer-center{
      display: none!important;
    }
  }
  &.copyright-fixed{
    #footer{
      z-index: 999!important;
    }
    .copyright{
      position: fixed;
      bottom: 0;
      z-index: 999;
      left: 0;
      width: 100%;
    }
  }
}
.footer{
  color: #666666;
  a{
    color: #666666;
    &:hover{
      color: $theme-color;
    }
  }
  .footer-top{
    background: #fff;
    padding: 20px 0;
    .block{
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }
  .footer-center{
    padding: 45px 0 15px;
    background: #FAFAFA;
    color: #666666;
    line-height: 28px;
  }
}

body.footer-fixed{
  .gva-body-page{
    background-color: $white;
    @include box-shadow(0 5px 30px rgba(0, 0, 0, 0.1));
    position: relative;
    z-index: 9;
    @media(max-width: $screen-sm-max){
      margin-bottom: 0!important;
    }
  }
  #footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    @media(max-width: $screen-sm-max){
      position: static;
    }
  }
}

.copyright{
  border-top: 1px solid $border-color;
  background: $white;
  a{
    &:hover{
      color: $theme-color;
    }
  }
  .copyright-inner{
    padding: 20px 0;
    .block{
      margin: 0;
    }
  }
}

