.item-list{
  ul{
    overflow: hidden;
    li.view-list-item{
      margin:0 0 30px;
      overflow: hidden;
      .post-block{
        margin: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.padding-small{
  .item-list ul li.view-list-item{
    margin-bottom: 20px!important;
    &:last-child{
      margin-bottom: 0!important;
    }
  }
}

ul[data-drupal-views-infinite-scroll-pager]{
  &.pager{
    margin: 30px 0 20px;
    a{
      font-family: $font-second;
      font-size: 11px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 700;
      border: 1px solid $theme-color;
      background: $theme-color;
      display: inline-block;
      color: $white;
      padding: 5px 15px;
      @include border-radius(30px);
      @include transition(all 0.35s);
      &:hover, &:active, &:focus{
        background: $white;
        color: $theme-color;
      }
    }
  }
}

.more-link{
  text-align: center;
  margin-top: 35px;
  a{
    font-family: $font-second;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 2px solid $theme-color;
    display: inline-block;
    padding: 5px 15px;
    @include border-radius(30px);
    @include transition(all 0.35s);
    &:hover{
      background: $theme-color;
      color: $white;
    }
  }
}

.views-view-grid{
  .views-row{
    width: auto;
    clear: none;
    float: none!important;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.post-masonry-style > div.views-col{
  margin-bottom: 10px;
}

.post-style-grid{
  .views-col{
    margin-bottom: 10px;
  }
}

.portfolio-filter{
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  ul.nav-tabs{
    display: inline-block;
    > li{
      margin-bottom: 10px;
      > a{
        @include box-shadow(0 1px 4px 0 rgba(0, 0, 0, 0.14));
        background: none;
        font-weight: 700;
        background: $white;
        color: $black;
        padding: 10px 15px;
        @include border-radius(5px);
        margin-right: 15px;
        @include transition(all 0.35s);
        text-transform: uppercase;
        &.active{
          background: $theme-color;
          color: $white;
        }
      }
    }
  }
}

.no-padding{
  .gva-portfolio-items{
    .row{
      margin: 0!important;
    }
    .isotope-items{
      > div{
        padding: 0!important;
        .isotope-item{
          margin-bottom: 0!important;
        }
      }
    }
  }
}

.brand-grid{
  .views-view-grid{
    .views-row{
      margin-bottom: 65px;
      .views-field-field-image{
        text-align: center;
        @media(max-width: $screen-xs-max){
          margin-bottom: 20px;
        }
      }
    }
  }
}

.banner-carousel-v2{
  .item{
    .views-field-field-image{
      text-align: center;
      background: $white;
      padding: 30px;
      @include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.02));
      img{
        max-height: 69px;
      }
    }
  }
}

//--------- Testimonial node --------------------
.testimonial-v1{
  .testimonial-item{
    text-align: center;
    background: $white;
    padding: 30px;
    .quote{
      font-size: 16px;
      line-height: 28px;
      text-indent: 30px;
      position: relative;
      padding-top: 10px;
      color: #999999;
      font-family: "Georgia";
      font-style: italic;
      &:after{
        font-family: "FontAwesome";
        content: "\f10d";
        left: -30px;
        top: 0;
        position: absolute;
        z-index: 1;
        color: $theme-color;
        font-size: 20px;
      }
    }
    .avatar{
      text-align: center;
      img{
        @include size(80px, 80px);
        @include border-radius(50%);
      }
    }
    .content{
      .title{
        margin-top: 30px;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        color: $theme-color;  
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }  
  }
}

.view-testimonial-v2{
  position: relative;
  float: left;
  width: 100%;
  .owl-dots{
    text-align: left;
    position: relative;
    margin-top: 20px;
    float: left;
    width: 100%;
    .owl-dot{
      display: inline-block;
      padding: 0;
      margin: 5px;
      background: none;
      @include size(45px, 45px);
      @include border-radius(0);
      border: 2px solid $border-color;
      @include box-shadow(none);
      text-align: center;
      position: relative;
      z-index: 9;
      &.active{
        border-color: $theme-color;
      }
    }
  }
  .owl-nav{
    display: none;
  }
}

.testimonial-grid{
  .item-grid{
    margin-bottom: 45px;
    @include clearfix();
    .testimonials-quote{
      font-size: 16px;
      color: $black;
      padding: 30px;
      border: 1px solid $border-color;
      font-weight: 300;
      font-style: italic;
    }
    .testimonials-profile{
      display: inline-block;
      position: relative;
      margin-left: 30px;
      float: left;
      padding-top: 20px;
      &:after{
        content: "";
        position: absolute;
        @include size(50px, 2px);
        background: $theme-color;
        top: -1px;
        left: 0;
        z-index: 1;
      }
      .right{
        padding-left: 70px;
        .name{
          font-size: 16px;
          font-weight: 700;
          color: #000000;
          margin: 0;
          text-transform: uppercase;
        }
        .job{
          font-size: 12px;
          font-weight: 900;
          color: $theme-color;
          text-transform: uppercase;
        }
      }
      .left{
        display: inline-block;
        float: left;
        img{
          @include border-radius(50%);
          width: 50px;
          height: auto;
        }
      }
    }
  }
}
//============== Gallery ======================
.slider-gallery-v1{
    margin-left: -3px!important;
    margin-right: -3px!important;
    .carousel-item{
      float: left;
      padding-right: 3px!important;
    }
    img{
      -ms-transform-style: none!important;
      -webkit-transform-style: none!important;
      -o-transform-style: none!important;
      transform-style: none!important;
      -ms-transform: none!important; 
      -webkit-transform: none!important; 
      transform: none!important; 
    }
    .gallery-large{
      background: $white;
      img{
        width: 100%;
        height: auto;
      }
    }
  div{
     > .gallery-small{
        width: 50%!important;
        background: transparent!important;
        float: left;
        .gallery-small-item{
          background: $white;
          width: 100%!important;
          height: auto!important;
          float: left;
          clear: both;
          padding-bottom: 3px;
          margin: 0;
          &:last-child{
            padding-bottom: 0;
          }
          img{
            width: 100%;
            height: auto;
          }
      }
    }
  }
}

.small-list{
  .item-list ul > li{
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px!important;
    padding-bottom: 15px;
    a{
      font-size: 12px;
      font-family: $font-second;
      text-transform: uppercase;
      color: $black;
      font-weight: 700;
      &:hover{
        color: $theme-color;
      }
    }
    &:last-child{
      border: none;
      margin-bottom: 0!important;
      padding-bottom: 0;
    }
  }
}


.tags-list{
  .item-list > ul{
    > li{
      margin-bottom: 5px;
      display: inline-block;
      float: left;
      margin-right: 10px;
      a{
        background: $theme-color;
        font-weight: 400;
        color: $white;
        padding: 3px 6px;
        @include border-radius(5px);
        overflow: hidden;
        font-family: $font-second;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        display: inline-block;
        &:hover, &:focus, &:active{
          color: $theme-color;
          background: #f5f5f5;
        }
      }
    }
  }
}


.team-carousel-v2{
  top: 0;
  position: relative;
  .owl-dots{
    position: absolute;
    top: -15px;
    left: 43%;
    display: inline-block;
    width: auto;
    z-index: 9;
    @media(max-width: $screen-sm-max){
      display: none;
    }
    > .owl-dot{
      @include size(20px, 5px);
      @include border-radius(0);
      margin-left: 5px;
    }
  }
}

.portfolio-carousel-single{
  .portfolio-item{
    overflow: hidden;
    .image{
      text-align: center;
      img{
        max-width: 800px;
        position: relative;
        z-index: 9;
      }
      .read-more{
        position: absolute;
        right: 0;
        bottom: 30px;
        z-index: 1;
        width: 300px;
        text-align: right;
        a{
          text-transform: capitalize;
          font-weight: 700;
          font-size: 14px;
          letter-spacing: 1px;
          @include transition(all 1s);
          padding-right: 40px;
          @include opacity(0);
        }
        &:after{
          content: "";
          @include size(0px, 1px);
          background: $theme-color;
          position: absolute;
          bottom: 0; 
          left: 0;
          @include transition(all 1s);
        }
      }
    }

    .portfolio-content{
      position: absolute;
      top: 100px;
      left: 50px;
      z-index: 11;
      &:after{
        content: "";
        @include transition(all 1s);
        @include size(1px, 0);
        background: $theme-color;
        position: absolute;
        top: -110px;
        left: 0;
      }
      .category a{
        text-transform: uppercase;
        color: $theme-color;
        font-weight: 600;
      }
      .title{ 
        background: rgba(255, 255, 255, 0.5);
        padding: 0 15px;
        a{
          font-size: 36px;
          font-weight: 700;
          text-transform: capitalize;
          letter-spacing: 1px;
          font-family: $font-second;
        }
      }
      .category {
        -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
        -webkit-transform: translate(0, -70%);
        -moz-transform: translate(0, -70%);
        -ms-transform: translate(0, -70%);
        -o-transform: translate(0, -70%);
        transform: translate(0, -70%);
        ms-transform: translate(0, -70%);
        @include opacity(0);
      }
      .title {
        -webkit-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
        -moz-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
        -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
        -o-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
        transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
        -webkit-transform: translate(0, -50%);
        -moz-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
        -o-transform: translate(0, -50%);
        transform: translate(0, -50%);
        ms-transform: translate(0, -50%);
        @include opacity(0);
      }
    }
  }
  .active-effect{
    .portfolio-item .portfolio-content{
      &:after{
        height: 100px;
      }
      .category, .title{ 
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        ms-transform: translate(0, 0);
        @include opacity(1);
      }
    }
    .portfolio-item .image .read-more{
      a{
        padding-right: 10px;
        @include opacity(1);
      }
      &:after{
        width: 300px;
      }
    }
  }
}